/**
 * One Light and One Dark theme for prism.js
 * Based on Atom's theme:
 * - https://github.com/atom/atom/tree/master/packages/one-light-syntax
 * - https://github.com/atom/atom/tree/master/packages/one-dark-syntax
 *
 * @source https://github.com/PrismJS/prism-themes
 * @author Hoon Wei Ting
 *
 * Slightly modified by @joulev
 */

:root {
  --mono-1: hsl(220, 14%, 71%);
  --mono-2: hsl(220, 9%, 55%);
  --mono-3: hsl(220, 10%, 40%);
  --hue-1: hsl(187, 47%, 55%);
  --hue-2: hsl(207, 82%, 66%);
  --hue-3: hsl(286, 60%, 67%);
  --hue-4: hsl(95, 38%, 62%);
  --hue-5: hsl(355, 65%, 65%);
  --hue-5-2: hsl(5, 48%, 51%);
  --hue-6: hsl(29, 54%, 61%);
  --hue-6-2: hsl(39, 67%, 69%);
  --syntax-fg: hsl(220, 14%, 71%);
  /* --syntax-bg: hsl(220, 13%, 18%); */
  --syntax-gutter: hsl(220, 14%, 45%);
  --syntax-guide: hsla(220, 14%, 71%, 0.15);
  --syntax-accent: hsl(220, 100%, 66%);
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--syntax-fg);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    line-height: 1.3 !important;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--mono-3);
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: var(--syntax-fg);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: var(--hue-6);
}

.token.keyword {
  color: var(--hue-3);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: var(--hue-5);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: var(--hue-4);
}

.token.variable,
.token.operator,
.token.function {
  color: var(--hue-2);
}

.token.url {
  color: var(--hue-1);
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: var(--syntax-fg);
}

/* CSS overrides */
.language-css .token.selector {
  color: var(--hue-5);
}

.language-css .token.property {
  color: var(--syntax-fg);
}

.language-css .token.function,
.language-css .token.url > .token.function {
  color: var(--hue-1);
}

.language-css .token.url > .token.string.url {
  color: var(--hue-4);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: var(--hue-3);
}

/* JS overrides */
.language-javascript .token.operator {
  color: var(--hue-3);
}

.language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: var(--hue-5-2);
}

/* JSON overrides */
.language-json .token.operator {
  color: var(--syntax-fg);
}

.language-json .token.null.keyword {
  color: var(--hue-6);
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  color: var(--syntax-fg);
}

.language-markdown .token.url > .token.content {
  color: var(--hue-2);
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  color: var(--hue-1);
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: var(--mono-3);
  font-style: italic;
}

.language-markdown .token.code-snippet {
  color: var(--hue-4);
}

.language-markdown .token.bold .token.content {
  color: var(--hue-6);
}

.language-markdown .token.italic .token.content {
  color: var(--hue-3);
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  color: var(--hue-5);
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}

/* Line number */
.comment.linenumber {
  color: var(--syntax-gutter);
}
